* {
  box-sizing: border-box;
}
  
input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.473);
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

  .container {
    border-radius: 5px;
    background-color: #0d7b8a;
    padding: 40px;
  }

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  :root {
    --primary-color: #0F2C4E;
    --secondary-color: #A9D6F5;
    --accent-color: #E5F2FF;
  }
  
  nav {
    display: block;
  }
  
  
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  }
  
  h1, h2, h3 {
  color: var(--accent-color);
  }
  
  a {
  color: var(--secondary-color);
  text-decoration: none;
  }
  
  a:hover {
  color: var(--accent-color);
  }
  
  .navbar a {
  background-color: var(--primary-color);
  border-bottom: #ddd 1px;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
  }
  
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  }
  
  .dropdown-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown-content a:hover {background-color:--accent-color;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: --secondary-color;}
